.division_three{
    background-color: #FFD597;
    width: 1024px;
    height: 368px;
    display: flex;
}


.image_division_second{
   
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-we_mission{
 
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_history_second{
    width: 451px;
    height: 246px;
    flex-shrink: 0;
    display: flex;
    text-align: left;
    align-items: center;
    background-color: #C04242;
    border-radius: 20px 20px 20px 0px;

}
.text_history_second:hover{
    transition: 1s;
    box-shadow: 8px 9px 0px 0px rgba(0, 0, 0, 0.25);
}



.text_history_second>p{
    color: #FFF;
    font-family: Asap;
    font-size: 18px;
    font-style:italic;
    font-weight: 100;
    line-height: 161.1%; /* 28.998px */
    letter-spacing: 1.98px;
    padding-left: 30px;
    

}
.text_history_second>p:hover{
    transform: scale(102%) !important;
   transition: all 0.5s ease-in-out;


}





.image_division_second>img{
    position: relative;

}

.image_division_second>.image_five{
    right: 20px;
    top: 60px;
}
.image_division_second>.image_four{
   left: 70px;
}
.image_division_second>.image_four:hover{
   transform: scale(1.1) !important;
   transition: all 0.5s ease-in-out;
}
.image_division_second>.image_five:hover{
   transform: scale(1.1) !important;
   transition: all 0.5s ease-in-out;
}
