@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;1,400&family=Concert+One&display=swap');


.division_two{
    background-color: white;
    width: 100%;
    height: 327px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.history_text{
    
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.text_history{
    width: 451px;
    height: 246px;
    flex-shrink: 0;
    display: flex;
    text-align: left;
    align-items: center;
    background-color: #C04242;
    border-radius: 20px 20px 0px 20px;

}
.text_history:hover{
    transition: 1s;
    box-shadow: 8px 9px 0px 0px rgba(0, 0, 0, 0.25);
}
.text_history>p{
    color: #FFF;
    font-family: Asap;
    font-size: 18px;
    font-style:italic;
    font-weight: 100;
    line-height: 161.1%; /* 28.998px */
    letter-spacing: 1.98px;
    padding-left: 30px;
    

}
.text_history>p:hover{
    transform: scale(102%) !important;
   transition: all 0.5s ease-in-out;


}

.image_division{
   
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image_division>img{
    position: relative;

}

.image_division>.image_one{
    left:260px;
    top: 40px;
    z-index: 1;
}
.image_division>.image_two{
    right: 70px;
}
.image_division>.image_three{
    right: 360px;
    top: 60px;
    z-index: 2;
}
.image_division>.image_three:hover{
   transform: scale(1.1) !important;
   transition: all 0.5s ease-in-out;
}
.image_division>.image_one:hover{
   transform: scale(1.1) !important;
   transition: all 0.5s ease-in-out;
}
.image_division>.image_two:hover{
   transform: scale(1.1) !important;
   transition: all 0.5s ease-in-out;
}


