.container{
    width: 1024px;
   height: 2117px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container_title{
    width: 912px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_title>h1{
    color: var(--white);
    font-family: Concert One;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.container_title>h1:hover{
    transform: scale(110%) !important;
    color: var(--dark_green);
    transition: all 0.1s ease-in-out;


}

.white-little-bar{
    background-color: var(--white);
    width: 342px;
    height: 70px;
}


.container-one{
  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 913px;
}

.text-container-one{
    background-color: var(--dark_green);
    width: 581px;
    height: 394px;
    flex-shrink: 0;
    
}

.text-container-one>p{
    color: var(--wHITE, #FFF);
    font-family: Asap;
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: 123.6%; 
    margin: 3%;
    text-align: left;
}

.container-two{
  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 913px;
}

.text-container-two{
    background-color: var(--dark_green);
    width: 615px;
    height: 599px;
    align-items: center;
    flex-shrink: 0;
    
    
}

.text-container-two>p{
    color: var(--white);
    font-family: Asap;
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: 144.6%; /* 39.042px */
    margin: 3%;
    text-align: left;
}
.container-three{
  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 913px;
}

.text-container-three{
    background-color: var(--dark_green);
    width: 615px;
    height: 309px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    
}

.text-container-three>p{
    color: var(--white);
    font-family: Asap;
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: 144.6%; /* 39.042px */
    margin: 3%;
    text-align: left;
}

.container-images{
 
    width: 913px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.white-bar-container{
    width: 80px;
    height: 1676px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 832px;
    margin-top: 308px;
    z-index: 3;
}

.container-one, .container-two, .container-three, .container-images, .imagem_banner{
    z-index: 4;
}

.hover_image:hover{

    transform: scale(90%) !important;
    transition: all 0.5s ease-in-out;

}
p:hover{

    transform: scale(95%) !important;
    transition: all 0.5s ease-in-out;

}


#myBtn {
    display: none;
    height: 48px;
    width: 50px;
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    position: fixed ;
    
    text-align: center;
    font-size: 20px;
  }
  
  #myBtn:hover {
    transition: all 1s ease-in-out;
    transform: scale(103%);
    background-color: var(--dark_green); 
  }
  
  .bar-scroll{
    width: 100px;
    height: 2445px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 1123px;
  }