section.slider{
    margin: 0 auto;
    width: 1024px;
    height: 246px;
    padding: 0 !important;
    overflow: hidden;
    background-color: #F2EE9D;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition:1s;
}

.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    justify-content: center;
}




#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}