.galeria{
    width: 1024px;
    height: 500px;
    display: flex;
    flex-direction: column;
}


.galeria_title>h1{
color: #FFF;
font-family: Concert One;
font-size: 91px;
font-style: normal;
font-weight: 400;
line-height: 161.1%; /* 130.491px */
letter-spacing: 3.645px;


}
.galeria_title{
    display: flex;
    position: absolute;
   
}
.galeria_title:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  
    text-shadow: 6px -1px 0px rgba(0, 0, 0, 0.19);
   
}




.red_line{
    width: 100%;
    height: 40px;
    background-color: #C04242 ;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.31);

}



.galeria-one{
    display: flex;
    width: 100%;
    height: 123px;
    align-items: center;
    justify-content: center;
    background-color: #FFD597;
   

}


.galeria-two{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #FFD597;
    gap: 5%;
}

.gg-chevron-left-r, .gg-chevron-right-r{
    color: #C04242;
   cursor: pointer;
}
.gg-chevron-left-r:hover , .gg-chevron-right-r:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
   
}


