
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;1,400&family=Concert+One&display=swap');



:root{
  --green: #8EAC50;
  --dark_green: #1B514E;
  --white: white;
 
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
   
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cacaca;
}

html{
    scroll-behavior: smooth;
}

.donate_image{
  display: none;
}



/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100%;
 
  position: relative;

  
}

/* Hide the images by default */
.mySlides {
display: none;
 

}



.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}


#myBtn {
  display: none;
  height: 45px;
  margin: 1;
  width: 50px;
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: var(--green);
  color: white;
  cursor: pointer;
  position: fixed ;
  margin-top: 52.9%;
  text-align: center;
  font-size: 20px;
}

#myBtn:hover {
  transition: all 1s ease-in-out;
  transform: scale(103%);
  background-color: var(--dark_green); 
}

.bar-scroll{
  width: 100px;
  height: 3823px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 1123px;
}