@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,600;1,600&display=swap');


.Icon_div,
.menu_hamb{
    display: none;
}
.section_white{
    background-color: var(--white);
    width: 1024px;
    height: 119px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo_image{
    padding-left: 37%;
    
}
.logo_image:hover{
  

        transform: scale(95%) !important;
        transition: all 0.5s ease-in-out;

}

nav{
 background-color: var(--dark_green);
 width: 1024px;
 height: 45px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 70px;
}
nav>a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 104.6%;
    letter-spacing: -0.6px;
    transition: all .2s ease-in-out;
}
nav>a:hover{
    color: var(--green);
    transform: scale(1.1);
}

header{
    z-index: 2;
}

@media screen and (max-width: 425px) {

    .menu_hamb{
        background-color:var(--white);
        position: absolute;
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 10px;
        margin-left: 301px;
        margin-top: 346px;
        z-index: 3;
       
    }

    .sobre{
        z-index: 1;
    }
    
    .menu_hamb>a{
        font-family: Asap;
        font-weight: 600;
        text-decoration: none;
        color: var(--dark_green);
    }




    .section_white{
        width: 425px;
        display: flex; 
    }

    header{
        background-color: red;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .logo_image{
        padding-left: 90px;
        width: 100%;
      
        align-items: center;
        justify-content: center;
        
    }

    nav{
        display: none;
    }

   .Icon_div{
    display: flex;
    margin-right: 40px;
   }

}