.section{
    background-color: var(--green);
    width: 1024px;
    height: 1634px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-violao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-violao>h1{
    color: var(--white);
    font-family: Concert One;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.white-bar{
    width: 374px;
    height: 69px;
    flex-shrink: 0;
    background-color: var(--white);
}

.section-one{
    display: flex;
    flex-direction: row;
}
.container-text-one>p{
    color: var(--white);
    font-family: Asap;
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: 141.6%; 
    margin: 4%;
}

.container-text-one{
    width: 720px;
    height: 504px;
    flex-shrink: 0;
    background-color: var(--dark_green);
}

.section-two{
    display: flex;
    flex-direction: row;

}
.container-text-two{
    width: 580px;
    height: 350px;
    flex-shrink: 0;
    background-color: var(--dark_green);
    display: flex;
    align-items: center;

}
.container-text-two>p{
    color: var(--white);
    font-family: Asap;
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: 141.6%; /* 38.232px */
    margin: 4%;
}


.container-images{
    
    width: 913px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.white-bar-background{
    background-color: var(--white);
    position: absolute;
    width: 58px;
    height: 1466px;
    flex-shrink: 0;
    margin-left: 855px;
    z-index: 1;
    margin-bottom: 2px;
}

.banner-violao, .section-one, .section-two, .container-images{
    z-index: 2;
}

