
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.voluntario_title{
    background-color: rgb(255, 255, 255);
    width: 1024px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.voluntario_title>h1{
    color: #C04242;
    text-shadow: 6px -1px 0px rgba(0, 0, 0, 0.19);
    font-family: Concert One;
    font-size: 97px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.1%; 
    display: flex;
    position: absolute;
}
.voluntario_title>h1:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.line_voluntario{
    background-color: #FFD597;
    height: 40px;
    width: 100%;
    box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.17);
}


.voluntario_container{
    background-color: #FFD597;
    align-items: center;
    justify-content: center;
    width: 1024px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-auto-rows: 150px;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    overflow-y: auto; 
}

.card{
    width: 386px;
    height: 131px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 40px;
    
   
}

.container-text-name{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text{
    width: 236px;
    height: 90px;
    background-color: #C93939;
    border-radius: 10px;
}
.name{
    width: 236px;
    height: 24px;
    background-color: #C93939;
    border-radius: 10px;
}
.name>h1{
    color: #FFF;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 118.6%;
    letter-spacing: 0.24px;
}
.name>h1:hover{
    transform: scale(1.1) !important;
    transition: all 0.5s ease-in-out;
}
.text>p{
    color: #FFF;
    font-family: Abel;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.6%; /* 13.046px */
    letter-spacing: 1.3px;
    padding: 10px;
}
.text>p:hover{
    transform: scale(102%) !important;
    transition: all 0.5s ease-in-out;
}

.text, .name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_voluntario:hover{
    transform: scale(102%) !important;
    transition: all 0.5s ease-in-out;

}
